html {
    height: 100%;
    width: 100%;
  }
  .sqaumatanavigationbartitle {
    background-color: #0c5a32;
    color: seashell;
    padding: 5px;
  }
  
  .navigationtwo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    background-color: forestgreen;
  }
  
  .navigationtwo a {
    color: seashell;
    text-decoration: none;
    font-family:'sometype mono', sans serif;
    display: block;
    padding: 1em;
  }
  
  .navigationtwo a:hover {
    color: darkgrey;
    background-color: #131514;
  }
  
  @media all and (min-width:600px) {
    .gekkota {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      background-color: white;
      font-family: 'Iceberg', sans-serif;
    }
  
    .gekkotaheader {
      width: 100%;
      background-color: #297048;
      text-align: center;
    }
  
    .gekkotaone {
      width: 49vw;
      text-align: center;
      border-style: solid;
      border-width: 0.5vw;
      border-color: whitesmoke;
      border-right-color: #297048;
      background-color: #3eb151;
    }
  
    .gekkotatwo {
      width: 49vw;
      text-align: center;
      border-style: solid;
      border-width: 0.5vw;
      border-color: whitesmoke;
      border-left-color: #297048;
      background-color: #3eb151;
    }
  
    .gekkotathree {
      width: 24vw;
      text-align: center;
      border-style: solid;
      border-width: 0.5vw;
      border-color: whitesmoke;
      background-color: #3eb151;
    }
  
    .gekkotafour {
      width: 24vw;
      text-align: center;
      border-style: solid;
      border-width: 0.5vw;
      border-color: whitesmoke;
      border-right-color: #297048;
      background-color: #3eb151;
    }
  
    .gekkotafive {
      width: 24vw;
      text-align: center;
      border-style: solid;
      border-width: 0.5vw;
      border-color: whitesmoke;
      border-left-color: #297048;
      background-color: #3eb151;
    }
  
    .gekkotafivetwo {
      width: 49vw;
      text-align: center;
      border-style: solid;
      border-width: 0.5vw;
      border-color: whitesmoke;
      border-left-color: #297048;
      background-color: #3eb151;
    }
  
    .gekkotasix {
      width: 24vw;
      text-align: center;
      border-style: solid;
      border-width: 0.5vw;
      border-color: whitesmoke;
      background-color: #3eb151;
    }
  
    .gekkotagekkotaone {
      display: flex;
      flex-flow: row;
      justify-content: space-between
    }
  
    .gekkotagekkotatwo {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
  }
  
  @media all and (max-width:600px) {
    .gekkota {
      display: flex;
      flex-flow: column;
      justify-content: center;
      background-color: #588960;
      border-style: solid;
      border: 5px;
      border-color: #297048;
      font-family: 'Iceberg', sans-serif;
  
    }
  
    .gekkotaheader {
      width: 100%;
      background-color: #297048;
      text-align: center;
    }
  
    .gekkotaone {
      text-align: center;
      background-color: #009454;
      padding: 10px;
    }
  
    .gekkotatwo {
      text-align: center;
      background-color: #3b9315;
      padding: 10px;
    }
  
    .gekkotathree {
      text-align: center;
      border-style: solid;
      border-width: 2vw;
      border-color: #009454;
      background-color: #3eb151;
      margin: 10px;
    }
  
    .gekkotafour {
      text-align: center;
      border-style: solid;
      border-width: 2vw;
      border-color: #009454;
      background-color: #3eb151;
      margin: 10px;
    }
  
    .gekkotafive {
      text-align: center;
      border-style: solid;
      border-width: 2vw;
      border-color: #3b9315;
      background-color: #3eb151;
      margin: 10px;
    }
  
    .gekkotafivetwo {
      text-align: center;
      border-style: solid;
      border-width: 2vw;
      border-color: #3b9315;
      background-color: #3eb151;
      margin: 10px;
    }
  
    .gekkotasix {
      text-align: center;
      border-style: solid;
      border-width: 2vw;
      border-color: #3b9315;
      background-color: #3eb151;
      margin: 10px;
    }
  }