html {
    height: 100%;
    width: 100%;
    background-color:#268d70;
  }
  .title {
    border-style: solid;
    text-align: center;
    border-color: #446f67;
    color: #446f67;
    border-width: 10px;
    padding: 10px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
    background-color: #1a3933;
  }
  
  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    font-style: normal;
    list-style: none;
    margin: 0;
    background-color: #48a693;
  }
  
  .navigation a {
    color: #d6d6d6;
    text-decoration: none;
    display: block;
    padding: 1em;
  }
  
  .navigation a:hover {
    color: #427576;
    background-color: #292929;
  }
  
  .theultimatelist{
    list-style:none;
  }
  .theultimatelist div{
    padding:20px;
    margin:5px;
    text-align:center;
    color:#1f1f1f;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    border:6px solid #363636;
    text-decoration:none;
  }
  
  .theultimatelist div:nth-child(3n){
     background-color:#3a6e5f;
  }
  .theultimatelist div:nth-child(3n + 1){
    background-color:#558b55;
  }
  .theultimatelist div:nth-child(3n + 2){
    background-color:#558b7f;
  }